/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

/* /////////////////////// Common Section  /////////////////////// */
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

/* Portfolio
---------------------------------*/


#Portfolio{ padding:100px 0px;}

.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'LatoRegular', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding-left:15px;
	width:auto !important;
}

.Portfolio-box{
	text-align:center;
	width:350px;
	overflow:hidden;
	float:left;
	padding:12px 0px;
}
.Portfolio-box img{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}


/*new_profolio*/



	
/* Portfolio */	
	
	.container.portfolio-title {
		padding-bottom:0px;
	}	

	#portfolio {
	padding:60px 0 40px;
	}



/* Portfolio Filters */	

	#filters {
		margin-top: 10px;
		margin-bottom: 40px;
		text-align: center;
		display: block;
		float: none;
		z-index: 2;
		position: relative;
	}
	
	#filters ul li {
		display: inline-block;
		margin:0 5px;
	}
	
	#filters ul li a {
		display: block;	
	}
	
	#filters ul li a h5 {
		background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 4px;
    color: #222222;
    display: inline-block;
    font-family: 'LatoRegular',sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
	}
	
	#filters ul li a:hover h5, #filters ul li a.active h5 {
		background: #1ABC9C;
    color: #fff;
    text-decoration: none;
	}
	
.section-title h2{
	color: #222222;
    font-family: DosisBold;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
	}
	
.section-title span{
	display:block;
	color: #888888;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
	}



/* Portfolio Items */	

	#portfolio-wrap {
		position: relative;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	#portfolio-wrap .one-four {
		margin: 0!important;
		line-height:0;
		width: 25%		padding: 0;
		position:relative;
	}
	
	.portfolio-item {
		padding: 0;
		position: relative;
		overflow: hidden;
	}
	.portfolio-item .portfolio-image {
		overflow: hidden;
		display: block;
		position: relative;
	}
	.portfolio-item .portfolio-image img {
		width: 100%;
		height: 250;
	}

	.portfolio-item:hover .project-overlay {
		opacity:1;
		transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
    	-webkit-transition:all 0.4s ease 0s;
    	-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
	}

	.project-overlay {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		cursor:pointer;
	}
	
	.open-project-link {
		width:100%;
		height:100%;
		position:absolute;
		z-index:100;
	}
	.project-overlay:hover {
		background:rgba(255, 255, 255, 0.8);
	}

	.project-info {
		position:absolute;
		height:100px;
		width:100%;
		top:50%;
		margin-top:-50px;
		text-align:center;
	}
	
	.project-name {
		color:#222222;
		text-transform:uppercase;
		margin-top:25px;
		font-family:DosisBold;
		opacity:0;
		font-size:18px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-ms-transition:all 0.2s ease 0s;
		-o-transition:all 0.2s ease 0s;
		position:relative;
		z-index:10;
	}
	
	.portfolio-item:hover .project-name { 
		opacity:1;
		-webkit-transition: opacity .1s .2s;
		-moz-transition: opacity .1s .2s;
		-ms-transition: opacity .1s .2s;
		-o-transition: opacity .1s .2s;
		transition: opacity .1s .2s;
	}
	
	.project-categories {
		font-size:14px;
		color:#000;
		opacity:0;
		margin-top:0px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-ms-transition:all 0.2s ease 0s;
		-o-transition:all 0.2s ease 0s;
		
	}
	
	.portfolio-item:hover .project-categories {
		opacity:0.5;
		-webkit-transition: opacity .1s .2s;
		-moz-transition: opacity .1s .2s;
		-ms-transition: opacity .1s .2s;
		-o-transition: opacity .1s .2s;
		transition: opacity .1s .2s;	
	}

	.zoom-icon {
		left: 50%;
		margin-left:-20px;
		position:inherit;
		width:40px;
		height:40px;
		margin-top:40px;
		opacity:0;
		background:url(images/zoom.png);
		background-size:40px 40px;
		transition:all 0.3s ease 0.1s;
		-moz-transition:all 0.3s ease 0.2s;
    	-webkit-transition:all 0.3s ease 0.2s;
    	-ms-transition:all 0.3s ease 0.2s;
		-o-transition:all 0.3s ease 0.2s;	
	}
	
	.portfolio-item:hover .zoom-icon {
		opacity:1;
		margin-top:0px;
		-webkit-transition: opacity .3s .2s, margin-top .3s .2s;
		-moz-transition: opacity .3s .2s, margin-top .3s .2s;
		-ms-transition: opacity .3s .2s, margin-top .3s .2s;
		-o-transition: opacity .3s .2s, margin-top .3s .2s;
		transition: opacity .3s .2s, margin-top .3s .2s;
		
	}
	
	
	
	
/* Portfolio Isotope Transitions */	

	.isotope, .isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-ms-transition-property: -ms-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
	}
	
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}



/* Portfolio Expander */	



	#project-page-holder {		
		display: none; 		
		background-color:#FFF;		
	}
	
	#project-page-button-fullscreen {	
		height: auto; 		
		z-index:100;
		position: absolute;
		right:30px;
		top:30px;			
	}
	
	#project-page-button-fullscreen li {
		display:inline-block;
		font-size:30px;
	}
	
	#project-page-button-fullscreen li a {
		background:url(images/close.png) no-repeat #fff;
		background-size:50px 50px;
		width:50px;
		height:50px;
		display:block;
		border-radius:50px;
		opacity:0.5;
	}
	
	#project-page-button-fullscreen li a:hover {
		opacity:1;
	}
	
	#project-page-button {
		text-align:center;		
		margin-bottom:20px;		
		height: auto; 		
		position: relative;		
		z-index:100;		
	}
	
	#project-page-button li {
		display:inline-block;
		margin:60px 10px 0px 10px;
		font-size:30px;
	}

	#project-page-data {		
		margin-bottom: 0px;		
	}

	.project-section-title {
		text-align:center;
		margin-bottom:40px;
	}

	.project-section-title h1 {
		margin-bottom:5px!important;
		letter-spacing:1px;
	}		

	.project-page {
		background-color:#FFF;
		width:100%;
		height:auto;
		left:0;
		padding-bottom:40px;
	}

	
/* Portfolio Normal Expander Project Slider */	
	
	
	.project-image-slider .bx-wrapper .bx-next {
		background: url("images/project_slider_right.png") no-repeat;
		background-size:35px 65px;
		opacity:0.3;
		right:-90px;
	}
	
	.project-image-slider .bx-wrapper .bx-prev {
		background: url("images/project_slider_left.png") no-repeat ;
		background-size:35px 65px;
		opacity:0.3;
		left:-90px;
	}
	
	.project-image-slider .bx-wrapper .bx-next:hover, .project-image-slider .bx-wrapper .bx-prev:hover {
		opacity:1;
		background-position:0
	}
	
	.project-image-slider .bx-wrapper .bx-controls-direction a {
		height: 65px;
		margin-top: -33px;
		outline: 0 none;
		position: absolute;
		text-indent: -9999px;
		top: 50%;
		width: 35px;
		z-index: 100;
	}
	
/* Portfolio Normal Expander */		
	
	.project-description {
		margin-top:40px;
		margin-bottom:20px;
		width:100%;
		height:auto;
	}
	
	.small-border {
		height:2px;
		width:50px;
		background-color:#ddd;
		margin-bottom:15px;
	}
	
	.visit-project {
		width:100%;
		text-align:center;
		border-top:1px solid #ddd;
		margin-top:20px;
		padding:55px 0 20px 0;
	}
	
	.project-description h5 {
		color:#222222;
		text-transform:uppercase;
		margin-bottom:5px;
	}
	
	
	
/* Portfolio FullScreen Expander */			
	
	#cycle-loader {
		height:32px;
		left:50%;
		margin:-8px 0 0 -8px;
		position:absolute;
		top:50%;
		width:32px;
		z-index:999;
	}

	#arrow_left {
		top:50%;
		height:60px;
		position:absolute;
		left:30px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
	}
	
	#arrow_right {
		top:50%;
		height:60px;
		position:absolute;
		right:30px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
	}
	
	#arrow_left:hover, #arrow_right:hover {
		margin-top:-28px;
	}
	
	#arrow_left:active, #arrow_right:active {
		margin-top:-28px;
	}	

	div.mc-image {
		-webkit-transition: opacity 1s ease-in-out; 
		-moz-transition: opacity 1s ease-in-out; 
		-o-transition: opacity 1s ease-in-out; 
		transition: opacity 1s ease-in-out;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		height:100%;
		overflow:hidden;
		width:100%;
	}

	.in-slide-content div.info-slide {
		background:#FFF url(images/info.png) no-repeat left bottom;
		background-size:46px 46px;
		position:absolute;
		top:30px;
		left:30px;	
		width: 46px;
		height: 46px;
		margin: 0;
		display: block;
		text-indent: 10px;
		-moz-border-radius: 23px;
		-webkit-border-radius: 23px;
		border-radius: 23px;
		cursor: pointer;
		z-index:1000;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=0.5);
		opacity: 0.5;
		-webkit-transition: all 0.3s ;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.in-slide-content div.info-slide:hover {
		width:200px;
		background:#FFF;
		position:absolute;
		bottom:40px;
		padding:10px 20px;
		text-indent: 0px;	
		moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		z-index:1000;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=1);
		opacity: 1;
	}
	
	.in-slide-content h2, .in-slide-content p{
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height:24px;
	}
	
	.in-slide-content h2{
		font-size:14px;
		color:#444;
		text-shadow:none;
		font-weight:normal;
		text-transform:uppercase;
		z-index:1001;
		position:relative;
		white-space: nowrap;	
	}
	
	.info-slide p{
		color:#aaa;
		font-size:13px;
		text-shadow:none;
		z-index:1001;
		position:relative; 
		margin:0;
		font-weight:normal;
		white-space: nowrap;
	
	}
	
	.in-slide-content div.info-slide h2 {
		display:none;
		padding:10px 10px 0 10px;
	}
	
	.in-slide-content div.info-slide p {
		display:none;
		padding:0px 10px 10px 10px;
	}
	
	.in-slide-content div.info-slide:hover h2, .in-slide-content div.info-slide:hover p {
		display:inherit;
		padding:0;
	}	

/* /////////////////////// slider Section /////////////////////// */

.tp-caption.custom_large_white {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
}

.tp-caption a.btn {
	color: #fff;
}


/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* /////////////////////// Pre loader Section  /////////////////////// */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}


hr {
  margin-top: 10px;
}


.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}


/*new_profolio*/



	
/* Portfolio */	
	
	.container.portfolio-title {
		padding-bottom:0px;
	}	

	#portfolio {
	padding:60px 0 40px;
	}



/* Portfolio Filters */	

	#filters {
		margin-top: 10px;
		margin-bottom: 40px;
		text-align: center;
		display: block;
		float: none;
		z-index: 2;
		position: relative;
	}
	
	#filters ul li {
		display: inline-block;
		margin:0 5px;
	}
	
	#filters ul li a {
		display: block;	
	}
	
	#filters ul li a h5 {
		background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 4px;
    color: #222222;
    display: inline-block;
    font-family: 'LatoRegular',sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
	}
	
	#filters ul li a:hover h5, #filters ul li a.active h5 {
		background: #1ABC9C;
    color: #fff;
    text-decoration: none;
	}
	
.section-title h2{
	color: #222222;
    font-family: DosisBold;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
	}
	
.section-title span{
	display:block;
	color: #888888;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
	}



/* Portfolio Items */	

	#portfolio-wrap {
		position: relative;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	#portfolio-wrap .one-four {
		margin: 0!important;
		line-height:0;
		width: 25%;
		padding: 0;
		position:relative;
	}
	
	.portfolio-item {
		padding: 0;
		position: relative;
		overflow: hidden;
	}
	.portfolio-item .portfolio-image {
		overflow: hidden;
		display: block;
		position: relative;
	}
	.portfolio-item .portfolio-image img {
		width: 337px;
		height: 300px;
	}

	.portfolio-item:hover .project-overlay {
		opacity:1;
		transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
    	-webkit-transition:all 0.4s ease 0s;
    	-ms-transition:all 0.4s ease 0s;
		-o-transition:all 0.4s ease 0s;
	}

	.project-overlay {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		cursor:pointer;
	}
	
	.open-project-link {
		width:100%;
		height:100%;
		position:absolute;
		z-index:100;
	}
	.project-overlay:hover {
		background:rgba(255, 255, 255, 0.8);
	}

	.project-info {
		position:absolute;
		height:100px;
		width:100%;
		top:50%;
		margin-top:-50px;
		text-align:center;
	}
	
	.project-name {
		color:#222222;
		text-transform:uppercase;
		margin-top:25px;
		font-family:DosisBold;
		opacity:0;
		font-size:18px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-ms-transition:all 0.2s ease 0s;
		-o-transition:all 0.2s ease 0s;
		position:relative;
		z-index:10;
	}
	
	.portfolio-item:hover .project-name { 
		opacity:1;
		-webkit-transition: opacity .1s .2s;
		-moz-transition: opacity .1s .2s;
		-ms-transition: opacity .1s .2s;
		-o-transition: opacity .1s .2s;
		transition: opacity .1s .2s;
	}
	
	.project-categories {
		font-size:14px;
		color:#000;
		opacity:0;
		margin-top:0px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-ms-transition:all 0.2s ease 0s;
		-o-transition:all 0.2s ease 0s;
		
	}
	
	.portfolio-item:hover .project-categories {
		opacity:0.5;
		-webkit-transition: opacity .1s .2s;
		-moz-transition: opacity .1s .2s;
		-ms-transition: opacity .1s .2s;
		-o-transition: opacity .1s .2s;
		transition: opacity .1s .2s;	
	}

	.zoom-icon {
		left: 50%;
		margin-left:-20px;
		position:inherit;
		width:40px;
		height:40px;
		margin-top:40px;
		opacity:0;
		background:url(images/zoom.png);
		background-size:40px 40px;
		transition:all 0.3s ease 0.1s;
		-moz-transition:all 0.3s ease 0.2s;
    	-webkit-transition:all 0.3s ease 0.2s;
    	-ms-transition:all 0.3s ease 0.2s;
		-o-transition:all 0.3s ease 0.2s;	
	}
	
	.portfolio-item:hover .zoom-icon {
		opacity:1;
		margin-top:0px;
		-webkit-transition: opacity .3s .2s, margin-top .3s .2s;
		-moz-transition: opacity .3s .2s, margin-top .3s .2s;
		-ms-transition: opacity .3s .2s, margin-top .3s .2s;
		-o-transition: opacity .3s .2s, margin-top .3s .2s;
		transition: opacity .3s .2s, margin-top .3s .2s;
		
	}
	
	
	
	
/* Portfolio Isotope Transitions */	

	.isotope, .isotope .isotope-item {
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
	}
	
	.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		-ms-transition-property: height, width;
		-o-transition-property: height, width;
		transition-property: height, width;
	}
	
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-ms-transition-property: -ms-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
	}
	
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
		-webkit-transition-duration: 0s;
		-moz-transition-duration: 0s;
		-ms-transition-duration: 0s;
		-o-transition-duration: 0s;
		transition-duration: 0s;
	}



/* Portfolio Expander */	



	#project-page-holder {		
		display: none; 		
		background-color:#FFF;		
	}
	
	#project-page-button-fullscreen {	
		height: auto; 		
		z-index:100;
		position: absolute;
		right:30px;
		top:30px;			
	}
	
	#project-page-button-fullscreen li {
		display:inline-block;
		font-size:30px;
	}
	
	#project-page-button-fullscreen li a {
		background:url(images/close.png) no-repeat #fff;
		background-size:50px 50px;
		width:50px;
		height:50px;
		display:block;
		border-radius:50px;
		opacity:0.5;
	}
	
	#project-page-button-fullscreen li a:hover {
		opacity:1;
	}
	
	#project-page-button {
		text-align:center;		
		margin-bottom:20px;		
		height: auto; 		
		position: relative;		
		z-index:100;		
	}
	
	#project-page-button li {
		display:inline-block;
		margin:60px 10px 0px 10px;
		font-size:30px;
	}

	#project-page-data {		
		margin-bottom: 0px;		
	}

	.project-section-title {
		text-align:center;
		margin-bottom:40px;
	}

	.project-section-title h1 {
		margin-bottom:5px!important;
		letter-spacing:1px;
	}		

	.project-page {
		background-color:#FFF;
		width:100%;
		height:auto;
		left:0;
		padding-bottom:40px;
	}

	
/* Portfolio Normal Expander Project Slider */	
	
	
	.project-image-slider .bx-wrapper .bx-next {
		background: url("images/project_slider_right.png") no-repeat;
		background-size:35px 65px;
		opacity:0.3;
		right:-90px;
	}
	
	.project-image-slider .bx-wrapper .bx-prev {
		background: url("images/project_slider_left.png") no-repeat ;
		background-size:35px 65px;
		opacity:0.3;
		left:-90px;
	}
	
	.project-image-slider .bx-wrapper .bx-next:hover, .project-image-slider .bx-wrapper .bx-prev:hover {
		opacity:1;
		background-position:0
	}
	
	.project-image-slider .bx-wrapper .bx-controls-direction a {
		height: 65px;
		margin-top: -33px;
		outline: 0 none;
		position: absolute;
		text-indent: -9999px;
		top: 50%;
		width: 35px;
		z-index: 100;
	}
	
/* Portfolio Normal Expander */		
	
	.project-description {
		margin-top:40px;
		margin-bottom:20px;
		width:100%;
		height:auto;
	}
	
	.small-border {
		height:2px;
		width:50px;
		background-color:#ddd;
		margin-bottom:15px;
	}
	
	.visit-project {
		width:100%;
		text-align:center;
		border-top:1px solid #ddd;
		margin-top:20px;
		padding:55px 0 20px 0;
	}
	
	.project-description h5 {
		color:#222222;
		text-transform:uppercase;
		margin-bottom:5px;
	}
	
	
	
/* Portfolio FullScreen Expander */			
	
	#cycle-loader {
		height:32px;
		left:50%;
		margin:-8px 0 0 -8px;
		position:absolute;
		top:50%;
		width:32px;
		z-index:999;
	}

	#arrow_left {
		top:50%;
		height:60px;
		position:absolute;
		left:30px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
	}
	
	#arrow_right {
		top:50%;
		height:60px;
		position:absolute;
		right:30px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
	}
	
	#arrow_left:hover, #arrow_right:hover {
		margin-top:-28px;
	}
	
	#arrow_left:active, #arrow_right:active {
		margin-top:-28px;
	}	

	div.mc-image {
		-webkit-transition: opacity 1s ease-in-out; 
		-moz-transition: opacity 1s ease-in-out; 
		-o-transition: opacity 1s ease-in-out; 
		transition: opacity 1s ease-in-out;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		height:100%;
		overflow:hidden;
		width:100%;
	}

	.in-slide-content div.info-slide {
		background:#FFF url(images/info.png) no-repeat left bottom;
		background-size:46px 46px;
		position:absolute;
		top:30px;
		left:30px;	
		width: 46px;
		height: 46px;
		margin: 0;
		display: block;
		text-indent: 10px;
		-moz-border-radius: 23px;
		-webkit-border-radius: 23px;
		border-radius: 23px;
		cursor: pointer;
		z-index:1000;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=0.5);
		opacity: 0.5;
		-webkit-transition: all 0.3s ;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}

	.in-slide-content div.info-slide:hover {
		width:200px;
		background:#FFF;
		position:absolute;
		bottom:40px;
		padding:10px 20px;
		text-indent: 0px;	
		moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		z-index:1000;
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=1);
		opacity: 1;
	}
	
	.in-slide-content h2, .in-slide-content p{
		padding: 0;
		margin: 0;
		font-size: 12px;
		line-height:24px;
	}
	
	.in-slide-content h2{
		font-size:14px;
		color:#444;
		text-shadow:none;
		font-weight:normal;
		text-transform:uppercase;
		z-index:1001;
		position:relative;
		white-space: nowrap;	
	}
	
	.info-slide p{
		color:#aaa;
		font-size:13px;
		text-shadow:none;
		z-index:1001;
		position:relative; 
		margin:0;
		font-weight:normal;
		white-space: nowrap;
	
	}
	
	.in-slide-content div.info-slide h2 {
		display:none;
		padding:10px 10px 0 10px;
	}
	
	.in-slide-content div.info-slide p {
		display:none;
		padding:0px 10px 10px 10px;
	}
	
	.in-slide-content div.info-slide:hover h2, .in-slide-content div.info-slide:hover p {
		display:inherit;
		padding:0;
	}

/* /////////////////////// slider Section /////////////////////// */

.tp-caption.custom_large_white {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
}

.tp-caption a.btn {
	color: #fff;
}

/* /////////////////////// Pre loader Section  /////////////////////// */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}


hr {
  margin-top: 10px;
}


.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ///////////////////////  General Section   /////////////////////// */

.home-section {
    padding-top: 100px;
    padding-bottom: 40px;
	display:block;
    position:relative;
    z-index:120;
	background-color: #fff;
}


.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}


.bg-dark {
	background: #575757;
}


.text-light {
	color: #fff;
}

/* /////////////////////// Nav Section  /////////////////////// */
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
	
}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.8);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #444;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: black;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,12);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: #1ABC9C;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a{color: #333 !important;}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* ///////////////////////  About Section  /////////////////////// */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar img {
	margin-bottom: 20px;
	border-radius: 50%;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	border-radius: 50%;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}

.service-icon {
	margin-bottom: 20px;
}	

#owl-works {

}

.item {
    margin: 10px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}	
.intro {
	width:100%;
	position:relative;
	padding:0;
	height:100%;
}


.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

/* ///////////////////////  Contact Form Section  /////////////////////// */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #aaa;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #aaa;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}

/* ///////////////////////  Social Section /////////////////////// */
.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	border-radius: 50%;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* /////////////////////// Footer Section  /////////////////////// */

footer {
	text-align: center;
	padding: 11px 0 ;
	z-index: 121;
	position: relative;
}

footer p {
	color: #f8f8f8;
}

/* /////////////////////// Media Section  /////////////////////// */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	
    .intro {
        height: 72%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
	
	.team.boxed-grey {
		margin-bottom: 30px;
	}
	
	.boxed-grey {
		margin-bottom: 30px;
	}

	
}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.8);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
	
	.tp-banner-container {
		padding-top:40px;
	}

	.tp-caption .page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
	}
	
}

/* /////////////////////// Parallax and Elements Section  /////////////////////// */

#parallax1{	
	background-image: url(../img/parallax/1.jpg);
}


#parallax2{	
	background-image: url(../img/parallax.jpg);

}


.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
	height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


/* CSSTableGenerator */
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #deeae8;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#deeae8; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #deeae8;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:12px;
	font-family:'Lato',sans-serif;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #1abc9c 5%, #1abc9c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1abc9c), color-stop(1, #1abc9c) );
	background:-moz-linear-gradient( center top, #1abc9c 5%, #1abc9c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1abc9c", endColorstr="#1abc9c");	background: -o-linear-gradient(top,#1abc9c,1abc9c);

	background-color:#1abc9c;
	border:0px solid #deeae8;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Montserrat,sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #1abc9c 5%, #1abc9c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1abc9c), color-stop(1, #1abc9c) );
	background:-moz-linear-gradient( center top, #1abc9c 5%, #1abc9c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1abc9c", endColorstr="#1abc9c");	background: -o-linear-gradient(top,#1abc9c,1abc9c);

	background-color:#1abc9c;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* table-hover */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #caf4d1;
  border-color: #b5efb5;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ffc6d1;
  border-color: #ffb7d1;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #ffeb99;
  border-color: #ffd48a;
}
.personal-task.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f7f8fc;
}

.personal-task.table-hover > tbody > tr:hover > td i{
    color: #688a7e;
}

.btn_submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 14px;
	background: -moz-linear-gradient(
		top,
		#1abc9c 0%,
		#1abc9c);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#1abc9c),
		to(#1abc9c));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #1abc9c;
	-moz-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	-webkit-box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	box-shadow:
		0px 1px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	text-shadow:
		0px 0px 0px rgba(255,255,255,0),
		0px 0px 0px rgba(255,255,255,0);
}

.btn_submit:hover {
  background: #16A085;
}

.btn_cancel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #16a085;
	padding: 8px 14px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#ffffff));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #1abc9c;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(054,106,166,0);
	text-shadow:
		0px 0px 0px rgba(255,255,255,0),
		0px 0px 0px rgba(255,255,255,0);
}

.btn_cancel:hover {
  background: #EEEEEE;
}

/* table-basic */
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff8e3;
  border-color: #caf4ca;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #caf4d1;
  border-color: #b5efb5;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #ffe0e6;
  border-color: #ffd0e1;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ffc6d1;
  border-color: #ffb7d1;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fff0b3;
  border-color: #ffdda3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #ffeb99;
  border-color: #ffd48a;
}
@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

